 
/* Body */

body {
    background-image: url("./palm-leaf.png");
    height: 100%;
    background-color: lightpink;
}

.spacing {
    margin: 15px;
}

/* Navbar Styling */

.header-right {
    background-color: #4aaaa5;
}

.header-left {
    background-color: #ffffff;
}

/* Container that will hold all grid styles input into the pages */

.container {
    background-color: #ffffff;
}

/* About page styling  */

.profilepic {
    height: 200px;
    background: transparent no-repeat center;
    background-size: cover;
    float: left;
    margin: 10px;
    padding-left: 10px;
}

/* Portfolio */

.portfolio-image {
    background: transparent no-repeat center;
    background-size: cover;
}

/* Contact Page */

.row_spacing {
    margin: 5px;
}