 
/* Body */

html {
    height: 100%;
}

body {
    background-image: url("./palm-leaf.png");
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.spacing {
    margin: 100px;
}

.spacingtop {
    margin: 15px;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-style: dashed;
    border-color: #ccc;
}

.division {
    height: 10px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #ccc;
    width: 98%;
    margin: 0 auto;
}

/* Navbar Styling */

/* .container-fluid {
    border-style: dashed;
    border-color: #666666;
} */

.header-right {
    background-color: #ffffff;
}

.header-left {
    background-color: #ffffff;
}

.headernamesection {
    background-color: #4aaaa5;
    height: 100%;
    margin: 1px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
}

.headerlinks {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: #777777;
}

a:hover {
    color: #ccc;
}

.headerspace {
    color: #dddddd;
    margin-top: 6px;
}




/* Container that will hold all grid styles input into the pages */

.container {
    background-color: #ffffff;
}

/* About ME Styling*/

.profilepic {
    width: 100%;
    background: transparent no-repeat center;
    background-size: cover;
    float: left;
    margin: 10px;
    padding-left: 10px;
    float: left;
}

/* Portfolio */

.portfolio-image {
    background: transparent no-repeat center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.box {
    background-color: #4aaaa5;
    height: 50px;
    position: relative;
    bottom: 40px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 300px;
}


/* Contact Page */

label {
    width: 100%;
}

.row_spacing {
    margin: 5px;
}

.buttonstyle {
    background-color: #4aaaa5;
}

/* Footer */

.footerstyle {
    background-color: #666666;
    border-top: #4aaaa5;
    border-width: 5px 0 0 0;
    border-style: solid;
    padding: 20px 0 -16px 0;
    text-align: center;
    color: #ffffff;
    margin-top: -50px;
}

.footername {
    color: #ffffff;
}